/tpRepaso/nbproject/private/
/Tp1Hilos/nbproject/private/
/Tp1Hilos/build/
/Tp1Hilos/dist/
/Tp2ObserverAndObservable/nbproject/private/
/Tp2ObserverAndObservable/build/
/Tp2ObserverAndObservable/dist/
/JuegoDeCartas/nbproject/private/